/*
0 - 600px:      Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet Landscape
[1200 - 1800]:  Normal Style Applies
1800px+ :       Big Desktop

/* $breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-25rem); }
  80% {
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: #000; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #ff0000;
  color: #fff; }

.options {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.4rem;
  font-weight: 500;
  width: 25vh; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  left: 60%;
  top: 35vh;
  transform: translateX(-50%); }

.page-header {
  background-color: #054F7C;
  padding: 20px;
  color: white;
  font-size: 30px;
  flex: 1 100%;
  margin-top: 0;
  text-align: center; }

.modal {
  background-color: #F4F5F7;
  border-radius: 2px;
  margin: 48px 0 80px;
  min-height: 450px;
  width: 800px;
  outline: none;
  padding: 20px; }

.close-btn-ctn {
  display: flex; }

.close-btn {
  height: 40px;
  width: 35px;
  font-size: 20px;
  color: #031D2C;
  border: none;
  border-radius: 25px; }

.close-btn:hover {
  background-color: #DCDCDC; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.55rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*animation-delay: 2s;
        animation-iteration-count: 3;
        */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #ff6666, #b30000);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.highlight-region {
  background-color: #ff0000; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: #313131;
  padding: 2rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.btn__container {
  position: absolute;
  left: 50%;
  top: 75%;
  width: 60%;
  text-align: center;
  transform: translate(-50%, -50%); }

.btn__container .btn {
  margin: 1rem; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--primary {
  background-color: #b30000;
  color: #fff; }
  .btn--primary::after {
    background-color: #b30000; }

.btn--green {
  background-color: #ff0000;
  color: #fff; }
  .btn--green::after {
    background-color: #ff0000; }

.btn--small {
  font-size: 1rem;
  font-weight: 700;
  padding: .5rem .5rem;
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  border: 1px solid #000; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #ff0000;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translateY(0); }

.col {
  min-height: 300px;
  max-width: 300px;
  width: 300px; }
  .col__wrapper {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    padding: 3rem;
    background-color: #000;
    border-radius: 30px;
    border: 1px solid #fff; }
  .col__header {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 0;
    color: #fff;
    background-color: #ff0000;
    text-align: center; }

.form {
  display: flex;
  flex-wrap: wrap;
  transition: all 3s; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-family: inherit;
    font-size: 1.5rem;
    color: #000;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    width: 90%;
    transition: all .3s; }
    @media only screen and (max-width: 56.25em) {
      .form__input {
        width: 100%; } }
    .form__input::-webkit-input-placeholder {
      color: #fff; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #ff0000; }
      .form__input:focus:invalid {
        border-bottom: 3px solid #ff7730; }
  .form__error {
    position: absolute;
    top: -6vh;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2rem;
    color: #ff0000;
    background-color: #fff;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
    display: block;
    transition: all .3s;
    color: #fff; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__radio-group {
    width: 49%;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .form__radio-group {
        width: 100%;
        margin-bottom: 2rem; } }
  .form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem; }
  .form__radio-input {
    display: none; }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #ff0000;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem; }
    .form__radio-button::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #ff0000;
      opacity: 0;
      transition: opacity .2s; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }

.increment {
  position: absolute;
  top: 42%;
  left: 30%;
  font-size: 1.4rem;
  font-weight: 500;
  width: 70%; }
  .increment__input {
    width: 4.5rem;
    text-align: center;
    left: 5rem;
    position: absolute;
    border-radius: 10px;
    margin-top: .2rem; }
  .increment__label {
    width: 50%; }
  .increment__btn, .increment__btn:link, .increment__btn:visited {
    position: relative;
    top: -1rem;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem; }
  .increment__btn:active, .increment__btn:focus {
    transform: translate(-50%, 1px); }
  .increment__btn:hover {
    transform: translate(-50%, -3px); }

.item {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  z-index: 1;
  background-color: #fff;
  position: relative; }
  .item:hover {
    cursor: pointer; }
  .item__title {
    font-weight: 600;
    font-size: 2rem; }
  .item__status {
    text-align: right;
    position: absolute;
    right: 1rem;
    height: 4rem;
    top: 1rem; }
  .item__bar {
    width: 5rem;
    height: 1rem;
    border-radius: 5px; }
  .item__dropzone {
    flex: 1 25%;
    width: 100%;
    height: 100%; }
  .item__highlight {
    background-color: #ff0000; }

.loading {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -55%);
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  background-color: #000;
  z-index: 30000;
  opacity: 0.9; }
  .loading__image {
    border-radius: 50%;
    height: 50vh;
    width: 50vh;
    opacity: .5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.player {
  background-color: #000;
  cursor: pointer;
  padding: 1rem 2rem; }
  .player__image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer; }
    .player__image--small {
      height: 5rem;
      width: 5rem; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 2rem;
  z-index: 3000;
  transition: all .3s;
  text-transform: uppercase; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    background-image: url(/img/ace.png);
    background-size: cover;
    border: 2px solid #000;
    width: 45vh;
    height: 65vh;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #000;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .4s .2s; }
    @media only screen and (max-width: 56.25em) {
      .popup__content {
        display: inline-block; } }
  .popup__text {
    text-align: center;
    font-size: 3.2rem;
    /* border-radius: 50%; */
    /* margin: 1.5rem; */
    color: white;
    background-color: black;
    width: 66%;
    font-weight: 800;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 42%; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__btn {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem; }
    .popup__btn:hover {
      transform: translateX(-50%); }
  .popup__input {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    font-size: 2.5rem;
    width: 80%; }
  .popup__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
    cursor: pointer; }
    .popup__close:hover {
      color: #ff0000;
      cursor: pointer; }

.profile {
  position: absolute;
  height: 15rem;
  width: 15rem;
  top: 5rem;
  right: 5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 1; }
  .profile__picture {
    width: 9rem;
    height: 9rem;
    opacity: 0.8;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .profile__text {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .profile__side {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    transition: all .8s ease;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    cursor: pointer; }
    .profile__side--front {
      background-image: url(/img/chip.png);
      background-size: contain;
      height: 15rem;
      width: 15rem; }
    .profile__side--back {
      transform: rotateY(180deg);
      background-image: url(/img/chip.png);
      background-size: contain;
      height: 15rem;
      width: 15rem; }
  .profile:hover .profile__side--front {
    transform: rotateY(-180deg); }
  .profile:hover .profile__side--back {
    transform: rotateY(0); }

.start {
  position: relative;
  min-height: 120vh; }
  .start__element {
    width: 100%; }
  .start__img {
    height: 50vh; }

.footer {
  background-color: #333;
  padding: 10rem;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    display: inline-block;
    padding-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    background-color: #333;
    color: #f7f7f7; }
  .footer__link:hover, .footer__link:active {
    color: #ff0000;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.rowOLD {
  max-width: 114rem;
  margin: 0 auto; }
  .rowOLD:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .rowOLD:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .rowOLD {
      max-width: 50rem;
      padding: 0 3rem; } }
  .rowOLD::after {
    content: "";
    display: table;
    clear: both; }
  .rowOLD [class^="col-"] {
    float: left; }
    .rowOLD [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .rowOLD [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .rowOLD [class^="col-"] {
        width: 100% !important; } }
  .rowOLD .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .rowOLD .col-1-of-3 {
    width: calc((100% - 2*6rem) / 3); }
  .rowOLD .col-2-of-3 {
    width: calc((2*(100% - 2*6rem) / 3) + 6rem); }
  .rowOLD .col-1-of-4 {
    width: calc((100% - 3*6rem) / 4); }
  .rowOLD .col-2-of-4 {
    width: calc(2*((100% - 3*6rem) / 4) + 6rem); }
  .rowOLD .col-3-of-4 {
    width: calc(3*((100% - 3*6rem) / 4) + 2*6rem); }

.main {
  min-height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(255, 102, 102, 0.8), rgba(179, 0, 0, 0.8)), url(../img/cards.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  border-radius: 5px; }
  .main__cover {
    z-index: 200;
    background-color: #ffb900;
    color: orangered;
    position: fixed;
    top: 0;
    left: 0; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .main {
      background-image: linear-gradient(to right bottom, rgba(255, 102, 102, 0.8), rgba(179, 0, 0, 0.8)), url(../img/cards.jpg); } }
  @media only screen and (max-width: 37.5em) {
    .main {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .main__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .main__logo {
    height: 3.5rem; }
  .main__text-box {
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.menu {
  background-color: rgba(255, 255, 255, 0.4);
  width: 30vh;
  position: fixed;
  top: 25rem;
  left: 5rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid #000;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.9);
  animation-name: moveInTop;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  z-index: 3; }
  .menu__list {
    list-style: none;
    text-align: center; }
  .menu__item {
    padding: 1rem;
    border-bottom: 1px solid #000; }
    .menu__item:hover + .menu__item__link {
      border-bottom: 2px solid #ff0000; }
  .menu__link--close, .menu__link:link, .menu__link:visited {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 1s;
    display: block;
    cursor: pointer; }
  .menu__link--close:hover, .menu__link:hover, .menu__link:active {
    color: #ff0000;
    background-color: #000;
    opacity: .6; }
  .menu__img {
    height: 3rem;
    width: 3rem;
    display: block;
    margin: auto; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#ff6666, #b30000);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  transition: all .8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all .5s; }
  .navigation__link:link span, .navigation__link:visited span {
    display: inline-block;
    margin-right: 1.5rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #ff0000;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    height: 2px;
    width: 3rem;
    background-color: #333;
    display: inline-block;
    transition: all .2s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }
