.increment {
    position: absolute;
    top: 42%;
    left: 30%;
    font-size: 1.4rem;
    font-weight: 500;
    width: 70%;

    &__formgroup {

    }

    
    &__input {
        width: 4.5rem;
        text-align: center;
        left: 5rem;
        position: absolute;
        border-radius: 10px;
        margin-top: .2rem;
        // width: 30%;
    }

    &__label {
        width: 50%;
    }

    &__btn {

        &,
        &:link,
        &:visited {
            position: relative;
            top: -1rem;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
            padding: 1rem;
            font-size: 1rem;
            border-radius: 1rem;
        }

        &:active,
        &:focus {
            transform: translate(-50%, 1px);
        }

        &:hover {
            transform: translate(-50%, -3px);
        }
    }
}